In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("cbp-today.csv")

In [3]:
df

,Airport,Terminal,date,hour,US Citizen Avg,US Citizen Max,Non-Citizen Avg,Non-Citizen Max,Avg Wait Time,Max Wait Time,Total Passengers,Total Flights
0,JFK,Terminal 1,8/7/2023,1000 - 1100,32,53,29,52,30,53,624,2
1,JFK,Terminal 1,8/7/2023,1100 - 1200,41,91,90,165,72,165,1654,5
2,JFK,Terminal 1,8/7/2023,1300 - 1400,31,102,97,153,73,153,1335,5
3,JFK,Terminal 1,8/7/2023,1400 - 1500,41,138,110,179,94,179,1017,4
4,JFK,Terminal 1,8/7/2023,1500 - 1600,61,148,134,171,107,171,748,2
...,...,...,...,...,...,...,...,...,...,...,...,...
71,JFK,Terminal 8 (American),8/7/2023,1900 - 2000,34,115,65,116,46,116,1112,5
72,JFK,Terminal 8 (American),8/7/2023,2000 - 2100,32,70,68,102,49,102,761,3
73,JFK,Terminal 8 (American),8/7/2023,2100 - 2200,26,63,55,69,43,69,234,1
74,JFK,Terminal 8 (American),8/7/2023,2200 - 2300,13,55,34,94,25,94,1113,4
75,JFK,Terminal 8 (American),8/7/2023,2300 - 0000,21,89,71,97,42,97,517,2

If it is the first time, run this:

In [6]:
#df.to_csv('cdp-multiple-days.csv', index=False)

After that, run this instead:

In [ ]:
df.to_csv('cdp-multiple-days.csv', mode='a', index=False, header=False)